/* Header */
body
{
	background-color:rgb(40,41,35);
	color:rgb(192,192,192);
	text-align:left;
	font-family:verdana;
}

/* header */
.header
{
	height:50px;
	font-size:20px;
	border-bottom:4px solid rgb(24,25,21);
	padding-bottom:10px;
	text-align:center;
	line-height:0.0;
}
.header h1
{
	padding-top:15px;
}

/* main */
.main
{
	padding-top:20px;
	text-align:left;
	line-height:0.35;
}
.main img
{
	border:4px solid rgb(24,25,21);
	margin-bottom:20px;
}

/* Intended for highlighting text among the code */
.codebox-img
{
	font-family:"Consolas";
	line-height: 1;
	border:4px solid rgb(24,25,21);
	width:25%;
}
.codebox-audio
{
	/*line-height: 1;*/
	font-family:"Consolas";
	border:4px solid rgb(24,25,21);
	width:40%;
}
.codebox-video
{
	line-height: 1;
	font-family:"Consolas";
	border:4px solid rgb(24,25,21);
	width:40%;
}
.redtag
{
	color:rgb(249,36,114);
}
.greentag
{
	color:rgb(166,226,43);
}
.yellowtag
{
	color:rgb(231,219,116);
}
/* footer */

/* miscellaneous */
.hr-black
{
	border:2px solid rgb(24,25,21);
}